<div class="card" style="width: 18rem;">
  <div class="card-body">
    <p>
      <strong>Product name:</strong>
      <%= product.product_name %>
    </p>

    <p>
      <strong>Manufacturer:</strong>
      <%= product.manufacturer %>
    </p>

    <p>
      <strong>Quantity:</strong>
      <%= product.quantity %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= product.price %>
    </p>
  </div>
</div>
